@{
    ViewData["title"] = "Home";
}
@model List<UserModel>

<h2 class="text-center">Danh sách Users</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Username</td>
                <td>@u.Password</td>
                <td>@u.Role</td>
            </tr>
        }
    </tbody>
</table>
